<!-- Tela de cadastro de novos lugares -->
<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">

    <!-- Título de novo lugar -->
    <h2 class="text-2x1 font-semibold text-gray-700 mg-4">Novos Lugares</h2>
    <hr />

    <!-- Formulário de cadastro de novo lugar -->
    <form [formGroup]="placeForm">

        <!-- Input de nome do lugar -->
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Nome</label>
            <input 
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                formControlName="name"
                placeholder="Ex: Praia do sol, Shopping da cidade, etc"
            />

            <!-- If para mostrar ou não o campo inválido de acordo com o status de validação do campo -->
            @if(invalidField('name'))
            {
                <span class="text-red-500 text-sm">Campo inválido</span>
            }
        </div>

        <!-- Seleção de categorias de lugar -->
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Categoria</label>
            <select
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                formControlName="category">
                <option [value]="null">-- Selecione uma categoria --</option>
             
                <!-- @For para selecionar uma categoria -->
                @for (category of categories(); track $index) 
                {
                    <option [value]="category.id">{{ category.name }}</option>
                }
            </select>

            <!-- If para mostrar ou não o campo inválido de acordo com o status de validação do campo -->
            @if(invalidField('category'))
            {
                <span class="text-red-500 text-sm">Campo inválido</span>
            }
        </div>

        <!-- Input de localização do lugar -->
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Localização</label>
            <input 
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                formControlName="location"
                placeholder="Ex: Rua das praias, 100, São Paulo"
            />

            <!-- If para mostrar ou não o campo inválido de acordo com o status de validação do campo -->
            @if(invalidField('location'))
            {
                <span class="text-red-500 text-sm">Campo inválido</span>
            }
        </div>

        <!-- Input de URL da imagem do lugar -->
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Imagem</label>
            <input 
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                formControlName="imageUrl"
                placeholder="Ex: http://exemplo.com/foto.jpg"
            />

            <!-- If para mostrar ou não o campo inválido de acordo com o status de validação do campo -->
            @if(invalidField('imageUrl'))
            {
                <span class="text-red-500 text-sm">Campo inválido</span>
            }
        </div>

        <!-- Seleção de avaliação do lugar -->
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Avaliação</label>
            <select
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                formControlName="feedback">
                <option [value]="null">-- Selecione uma avaliação --</option>
                <option [value]="1">1 - Ruim</option>
                <option [value]="2">2 - Regular</option>
                <option [value]="3">3 - Bom</option>
                <option [value]="4">4 - Muito bom</option>
                <option [value]="5">5 - Excelente</option>
            </select>

            <!-- If para mostrar ou não o campo inválido de acordo com o status de validação do campo -->
            @if(invalidField('feedback'))
            {
                <span class="text-red-500 text-sm">Campo inválido</span>
            }
        </div>

        <!-- Botão de cadastrar novo lugar -->
        <button
            class="w-full bg-blue-600 text-white font-semibold p-3 rounded shadow hover:bg-blue-700"
            (click)="saveNewPlace()">
            Cadastrar                                   
        </button>
    </form>
</div>